* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/textures/main_bg.png");
    background-size: cover;
    background-position: center center;
    padding: 44px;
}

.main__frame {
    border-image: url("./assets/textures/main_frame.png") 1%;
    border-width: 13px;
    border-style: solid;
    border-image-repeat: stretch;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.main__eye {
    width: 421px;
    max-width: 100%;
    height: auto;
    aspect-ratio: 1.7/1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__title {
    margin-top: 8px;
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.main__menu {
    position: relative;
    overflow: hidden;
    width: 942px;
    max-width: 100%;
}

.main__menu-open .main__menuContent {
    top: 0
}

.main__menuContent {
    position: relative;
    top: -100%;
    width: 100%;
    transition: 0.2s;
}

.main__menuContent > img {
    user-select: none;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    top: 0;
    opacity: 0.6;
}

.main__menu-open {
    height: auto;
}

.main__menuItem {
    position: relative;
    padding: 19px;
    text-align: center;
    cursor: pointer;
}

.main__menuItem img {
    max-width: 100%;
    user-select: none;
}

.main__menuItem:not(.main__menuItem-noBorder) {
    border-bottom: 3px solid black;
}

.circle {
    transform: translate(50%, 50%);
    stroke-width: 38px;
}
