* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    width: 100vw;
    height: auto;
    background-image: url("../assets/textures/main_bg.png");
    background-size: cover;
    background-position: center center;
    padding: 44px;
}

.main__frame {
    overflow-y: auto;
    position: relative;
    border-image: url("../assets/textures/main_frame.png") 1%;
    border-width: 13px;
    border-style: solid;
    border-image-repeat: stretch;
    width: 100%;
    height: calc(100dvh - 88px);
    padding-top: 33px;
}

.main__textShadow {
    height: 71px;
    width: 100%;
    position: sticky;
    bottom: 0;
    mask-image: linear-gradient(to bottom,transparent 0%,black 70%);
    backdrop-filter: blur(10px);
    transition: 0.1s;
}

.main__text {
    padding: 0 71px 0 71px;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 33px;
    color: white;
    margin-top: 58px;
}

.main__eye {
    width: 180px;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 33px;
}

@media screen and (max-width: 600px) {
    .main__eye {
        width: 125px;
        margin: auto;
    }

    .main__text {
        padding: 0 33px 0 33px;
    }
}
