* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    width: 100vw;
    height: auto;
    background-image: url("../assets/textures/main_bg.png");
    background-size: cover;
    background-position: center center;
    padding: 44px;
}

.main__frame {
    overflow-y: auto;
    position: relative;
    border-image: url("../assets/textures/main_frame.png") 1%;
    border-width: 13px;
    border-style: solid;
    border-image-repeat: stretch;
    width: 100%;
    height: calc(100dvh - 88px);
    padding-top: 33px;
}

.main__text {
    padding: 0 71px 0 71px;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 33px;
    color: white;
    margin-top: 58px;
    text-align: left;
    margin-bottom: 33px;
}

.main__eye {
    position: relative;
    width: 180px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.main__eye a {
    display: block;
    width: 100%;
    height: auto;
}

.main__menu {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding-left: 33px;
}

.main__menu:hover .main__menuContent {
    height: 286px;
}

.main__menuContent {
    top: 50%;
    height: 0;
    position: absolute;
    width: 388px;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main__menuContent > img {
    user-select: none;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    top: 0;
    z-index: 0;
}

.main__menuItem {
    position: relative;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.main__menuItem a {
    display: block;
    padding: 19px;
    cursor: pointer;
}

.main__menuItem img {
    max-width: 100%;
    user-select: none;
}

.main__menuItem:not(.main__menuItem-noBorder) {
    border-bottom: 3px solid black;
}

@media screen and (max-width: 600px) {
    .main__menuContent {
        left: -80px;
    }

    .main__menu {
        padding-left: 0;
    }

    .main__frame {
        text-align: center;
    }

    .main__eye {
        width: 125px;
    }

    .main__text {
        padding: 0 33px 0 33px;
    }

    .main__menuContent {
        width: 286px;
    }
}
